/* here is a comment */


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
	font-family: 'Roboto', sans-serif;

}

h1 {
	color: red;
	background-color: orange;
	padding: 2lh;
	padding-left: 2rem;
	padding-bottom: 1em;
	margin-top: 1cm;
	margin-bottom: 30mm;
	margin-left: 30px;
	border-width: 10px;
	border-style: dotted;
	border-radius: 20px;
	border-color: green;
	text-align: center;
	text-decoration: underline;
	display: inline-grid;
}

h2 {
	color: rgb(200, 99, 71);
	margin: 10px 10px 10px 10px ;
	border-top: 10px;
	border-right: 10px;
}

h3 {
	color: hsl(0, 10%, 50%);
	padding: 10px 10px 10px 10px;
}

h4 {
	color: #34ebcf;
	border: 10px auto;
	border-width: 10px;
	border-color: greenyellow;

}

h3 ~ h4 {
	background-color: darkorange;
}

h4 > em{
	text-decoration: underline;

}


h3, h4{
	text-decoration: underline;
}


body h4{
	text-decoration: overline;
}

h4 + p {
	text-decoration: line-through;
}



body {
	display: inline-block;
	font-family: 'Roboto', sans-serif;


}

footer {
	display: flex;
	flex-direction: row;
	height: auto;
	width: auto;
	max-width: 100vw;
	min-width: 100vh;


}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;

}

a:active {
  background-color: yellow;
}

#foot {
	position: static;
}
#agenda {
	position: relative;
}



@media (min-height: 680px){
	body{
		background-color: pink;

	}
  
}

.abc {
	text-decoration: underline;
}


span.abc {
	background-color: brown;
}

a[href$=".com"] {
  font-style: italic;
}